<script type="text/html" id="message-form-template">
    <fieldset>
        <legend>Nouveau message</legend>
        <form>
            <div class="row">
                <div class="col-xs-2">
                    <input type="text" name="message[pseudo]" class="form-control" placeholder="pseudo" />
                </div>
                <div class="col-xs-8">
                    <input type="text" name="message[text]" class="form-control" placeholder="message" />
                </div>
                <div class="col-xs-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Envoyer" />
                </div>
            </div>
        </form>
    </fieldset>
</script>